/**
 * Styles for our GWT components.
 */

/** FloatPanel styles */
.fpFloatLeft {
  float: left;
}

.fpClear {
  clear: both;
}

/** InfoPopup styles */
.infoPopup {
  background: #FFFFFF;
  border: 2px solid #000000;
  padding: 5px;
}
